@import url("normalize.css");
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Roboto:400,700);

body{
  font-family: 'Noto Serif', serif;
  padding: 10px;
  font-size: 16px;

}
h1, h2, h3{
  font-family: 'Roboto', sans-serif;
}

h1{
  color:#D93240;
}

h2{
  color: #17A697;
}

h3{
  color: #0F5959;
}

a,
a:link {
  color: #17A697;
}

a:hover,
a:focus{
  color: #638CA6; 
}
